/var/log/ufw.log
{

  rotate {{ logs_rotation_daily }}
  daily
  maxsize {{ logs_max_size }}
  missingok
  notifempty
  olddir {{ logs_rotated_dir }}/firewall/
  createolddir 0640 root root

  compress
  delaycompress
  dateext
  dateyesterday

  postrotate
    invoke-rc.d rsyslog rotate >/dev/null 2>&1 || true
  endscript
}
