## Configuración custom
/var/log/dpkg.log {
	weekly
	rotate {{ logs_packages_rotation }}
	maxsize {{ logs_max_size }}
  nomissingok
	notifempty
  olddir {{ logs_rotated_dir }}/packages/
  createolddir 0640 root root

	compress
  delaycompress
  dateext
  dateyesterday

	create 644 root root
}
