apiVersion: 1

datasources:
  - name: Icinga2
    type: influxdb
    access: proxy
    url: 'http://localhost:{{ influxdb_port }}'
    database: {{ influxdb_db }}
    user: {{ influxdb_user }}
    password: "{{ influxdb_user_password }}"
    basicAuth: false
    editable: true
    orgId: 1
    is_default: true

