---

extends: default

locale: es_ES.UTF-8

rules:
  truthy:
    allowed-values:
      - 'true'
      - 'false'
      - 'yes'
      - 'no'
  braces:
    min-spaces-inside: 1
    max-spaces-inside: 1
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 0
  line-length:
    level: warning
    max: 125
    allow-non-breakable-words: true

...
